*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif ;
    
}



@media (max-width:992px) {
    .navcart{
        display: none;
    }
    #navform{
        margin: 0 !important ;
    }
    
}

    .text-box {
            width: 90%;
            color: blanchedalmond;
            position: relative;
            top: -70px;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
    }
    @media(max-width: 775px){
        .text-box{
            width: 50%;color: blanchedalmond;
            position: relative;
            left: 50%;
            transform: translate(-50%,-50%);
            /* text-align: center; */
            font-size: 10px;
        }
    }

    @media(max-width: 560px){
        .text-box{
            width: 40%;color: blanchedalmond;
            position: relative;
            top: -30px;
            left: 50%;
            transform: translate(-50%,-50%);
            /* text-align: center; */
            font-size: 10px;
        }
    }

    

    .text-box a{
        color: rgb(0, 0, 0);
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 700;
    }
    .text-box a:hover{
        background-color:#bdaf8a;
        transition: 0.5s;
        border: 2px solid #bdaf8a;
        font-weight: 700;
        color: white;
    }

    .hero-button1{
        display: inline-block;
        text-decoration: none;
        border: 2px solid #f9f7ee;
        padding: 10px 50px;
        background-color: #f9f7ee;
    }

@media(max-width:1900px){
    .card{
        margin: auto;
  
    }
   
  }
  @media(max-width:576px){
    .card{
        
        margin: auto;
    }
 
  }
  .card{
      border: none !important;
  }

  .horizontal-heading {
    font-family: sans-serif;
    font-size: 35px;
    max-width: 650px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #a9002e;
    font-family: 'Roboto', sans-serif;
  }

  .horizontal-heading::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    background: #000;
    left: 20px;
    top: 50%;
    z-index: -2;
  }

  .horizontal-heading::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    background: #000;
    right: 20px;
    top: 50%;
    z-index: -2;

  }

  .horizontal-heading span {
    background: #fff;
  }
  @media (max-width:767px) {
      .horizontal-heading{
          font-size: 25px;
      }
      
  }
  @media (max-width:495px) {
    .horizontal-heading{
        font-size: 20px;
    }
    
}
@media (max-width:435px) {
    .horizontal-heading{
        font-size: 15px;
    }
    
}
@media (max-width:367px) {
    .horizontal-heading{
        font-size: 13px;
    }
    .horizontal-heading::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: #000;
        left: 20px;
        top: 50%;
        z-index: -2;
      }
    
      .horizontal-heading::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: #000;
        right: 20px;
        top: 50%;
        z-index: -2;
    
      }
    
}
.dd{
    display: flex;
    justify-content: start;
    align-items: flex-start;

    justify-content: start;
    padding: 50px 20px;
}
.dd p{
    text-align: center;
}
a{
    text-decoration: none !important;
}


#map{
    height: 500px;
    width: 1000%;
    padding-top: 70px;
    /* padding-left: 120px; */
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url(../../loader/Ripple-1s-200px\ \(1\).png) 50% 50% no-repeat #FFFF;
    opacity: 1;

}

.zoom:hover{
    transition: 0.3s ease-out;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 

    
}





::-webkit-scrollbar{
    width: 15px !important;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #a9002e !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a9002e !important;
}

.navbar-toggler:focus{
    outline: none !important;
}

.h1-responsive{
    color: #a9002e;
    font-weight: bolder;
}

.icon{
    cursor: pointer;
    
}

.icon i{
    color: #a9002e;
}

.w-responsive{
    font-weight: normal;
}

#btn{
    background-color: #a9002e;
    color: white;
    font-weight: 500px;
    margin-top: 20px;
    border: none;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
}

